<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pz0429_Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Pz0429_Library.Properties.Settings.PZ2_21POConnectionString"
            connectionString="Data Source=DESKTOP-7IHQ5JA\SQLEXPRESS;Initial Catalog=PZ2_21PO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Pz0429_Library.Properties.Settings>
            <setting name="defLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="defPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DBDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBAutoSecurity" serializeAs="String">
                <value>False</value>
            </setting>
        </Pz0429_Library.Properties.Settings>
    </userSettings>
</configuration>